{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Hello -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link type="text/css" rel="stylesheet" href="{% static 'elementState.css' %}"/>
  <link type="text/css" rel="stylesheet" href="{% static 'grid.css' %}"/>
  <link type="text/css" rel="stylesheet" href="{% static 'navbar.css' %}"/>
  <link type="text/css" rel="stylesheet" href="{% static 'teaFlavor.css' %}"/>
  <link type="text/css" rel="stylesheet" href="{% static 'percentage.css' %}"/>
  <link type="text/css" rel="stylesheet" href="{% static 'home.css' %}"/>

  <title>Tpumps Drink Randomizer</title>
</head>
<body>
  <section>
    {% include "navbar.html" %}
  </section>

  <!-- Body -->
  <section class="container">
    {% include "home.html" %}    
  </section>


  {% include "footer.html" %}    

</body>

<script type="text/javascript" src="{% static 'navbar.js' %}"></script> <!-- Load First So below has reference -->
<script type="text/javascript" src="{% static 'flavorData.js' %}"></script> <!-- Load First So below has reference -->
<script type="text/javascript" src="{% static 'filterController.js' %}"></script> <!-- Load First So below has reference -->
<script type="text/javascript" src="{% static 'flavorSelectionControl.js' %}"></script>
<script type="text/javascript" src="{% static 'generator.js' %}"></script>
</html>