{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Hello -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link type="text/css" rel="stylesheet" href="{% static 'navbar.css' %}"/>
  <link type="text/css" rel="stylesheet" href="{% static 'history.css' %}"/>

  <link type="text/css" rel="stylesheet" href="{% static 'unselectable.css' %}"/>
  <link type="text/css" rel="stylesheet" href="{% static 'elementState.css' %}"/>
  <link type="text/css" rel="stylesheet" href="{% static 'home.css' %}"/>
  <link type="text/css" rel="stylesheet" href="{% static 'history.css' %}"/>


  <!-- Favicon -->
  <link rel="icon" type="image/svg+xml" href="{% static 'favicon.svg' %}"/>
  
  <script type="text/javascript" src="{% static 'flavorData.js' %}" defer></script>
  <script type="text/javascript" src="{% static 'navbar.js' %}" defer></script>
  <script type="text/javascript" src="{% static 'airtable.js' %}" defer></script>
  <script type="text/javascript" src="{% static 'history.js' %}" defer></script>
  <title>Tpumps Drink Randomizer</title>
</head>
<body>
  <!-- NavBar -->
  <section>
    {% include "navbar.html" %}
  </section>

  <section class="container flex-center">
    <div>
      <h3 class="title1">Recent Generations From Other Users</h3>
    </div>
    {% include 'drinkHistory.html' %}
  </section>
</body>
</html>