<!-- Content For Main Page to randomize drinks -->

  <div class="flavor-container">
    <h3>Select your list of possible random flavors and generate a random drink!</h3>
    <div style="display: flex; flex-direction: row; align-items: center;">
      <div class="extra-cost" style="height: 5vh; width: 5vh; border-radius: 15px; margin-right: 1rem;">

      </div>
      <h3>Flavors Cost Extra 1$</h3>      
    </div>

    {% include "teaFlavor.html" %}
  </div>

  <div class="percentage-container">
    {% include "percentage.html" %}
  </div>

  <div class="tea-type-container">
    {% include "teaType.html" %}
  </div>

  <div class="milk-blend-container">
    {% include "milkBlend.html" %}
  </div>

  <div class="generate-button" id="generate-button">
    <h3>Generate Drink</h3>
  </div>

