<!-- Content For Main Page to randomize drinks -->

  <div class="flavor-container">
    <h3>Select your list of possible random flavors and generate a random drink!</h3>
    {% include "teaFlavor.html" %}
  </div>

  <div class="percentage-container">
    {% include "percentage.html" %}
  </div>

  <div class="tea-type-container">
    {% include "teaType.html" %}
  </div>

  <div class="milk-blend-container">
    {% include "milkBlend.html" %}
  </div>

  <div class="generate-button" id="generate-button">
    <h3>Generate Drink</h3>
  </div>

