<div>
  <h3>Milk</h3>
  <fieldset>
    <div class="input-item selectable" id="milk">
      <p>Milk</p>
    </div>
    <div class="input-item selectable" id="no-milk">
      <p>No Milk</p>
    </div>
    <div class="input-item selectable" id="milk-random">
      <p>Random</p>
    </div>
  </fieldset>
</div>

<div>
  <h3>Blended</h3>
  <fieldset>
    <div class="input-item selectable" id="blend">
      <p>Blended</p>
    </div>
    <div class="input-item selectable" id="no-blend">
      <p>No Blend</p>
    </div>
    <div class="input-item selectable" id="blend-random">
      <p>Random</p>
    </div>     
  </fieldset>
</div>
