<div>
  <h3>Milk</h3>
  <fieldset>
    <input type="radio" name="milk" value="milk">
    <label for="milk">Milk</label>
    <br/>
    <input type="radio" name="milk" value="no milk">
    <label for="milk">No Milk</label>
    <br/>
    <input type="radio" name="milk" value="random">
    <label for="milk">Random</label>
  </fieldset>

</div>

<div>
  <h3>Blended</h3>
  <fieldset>
    <input type="radio" name="blended" value="blended">
    <label for="blended">Blended</label>
    <br/>
    <input type="radio" name="blended" value="not blended">
    <label for="blended">Not Blended</label>
    <br/>
    <input type="radio" name="blended" value="random">
    <label for="blended">Random</label>     
  </fieldset>
 
</div>
