<div>
  <h3>Sugar</h3>
  <fieldset>
    <input type="radio" id="sugar-100" value="100%" name="sugar" checked/>
    <label for="sugar-100">100%</label>
    <br/>
    <input type="radio" id="sugar-75" value="75%" name="sugar"/>
    <label for="sugar-75">75%</label>
    <br/>
    <input type="radio" id="sugar-50" value="50%" name="sugar"/>
    <label for="sugar-50">50%</label>
    <br/>
    <input type="radio" id="sugar-25" value="25%" name="sugar"/>
    <label for="sugar-25">25%</label>
    <br/>
    <input type="radio" id="sugar-0" value="0%" name="sugar"/>
    <label for="sugar-0">0%</label>
    <br/>
    <input type="radio" id="sugar-random" value="random" name="sugar"/>
    <label for="sugar-random">random</label>
  </fieldset>
</div>
<div>
  <h3>Ice</h3>
  <fieldset>
    <input type="radio" id="ice-100" value="100%" name="ice" checked/>
    <label for="ice-100">100%</label>
    <br/>
    <input type="radio" id="ice-75" value="75%" name="ice"/>
    <label for="ice-75">75%</label>
    <br/>
    <input type="radio" id="ice-50" value="50%" name="ice"/>
    <label for="ice-50">50%</label>
    <br/>
    <input type="radio" id="ice-25" value="25%" name="ice"/>
    <label for="ice-25">25%</label>
    <br/>
    <input type="radio" id="ice-0" value="0%" name="ice"/>
    <label for="ice-0">0%</label>
    <br/>
    <input type="radio" id="ice-random" value="random" name="ice"/>
    <label for="ice-random">random</label>
  </fieldset>
</div>