<div class="percentage-input-box">
  <h3>Sugar</h3>
  <fieldset>
    <div class="input-item">
      <p>100%</p>
    </div>
    <div class="input-item">
      <p>75%</p>
    </div>
    <div class="input-item">
      <p>50%</p>
    </div>
    <div class="input-item">
      <p>25%</p>
    </div>
    <div class="input-item">
      <p>0%</p>
    </div>
    <div class="input-item">
      <p>Random</p>
    </div>
  </fieldset>
</div>
<div class="percentage-input-box">
  <h3>Ice</h3>
  <fieldset>
    <div class="input-item">
      <p>100%</p>
    </div>
    <div class="input-item">
      <p>75%</p>
    </div>
    <div class="input-item">
      <p>50%</p>
    </div>
    <div class="input-item">
      <p>25%</p>
    </div>
    <div class="input-item">
      <p>0%</p>
    </div>
    <div class="input-item">
      <p>Random</p>
    </div>
  </fieldset>
</div>