<h2>Flavors</h2>

<div class="flavor-option-container">
  <div id="1" class="flavor-button">
    <p>Strawberry</p>
  </div>
  <div id="2" class="flavor-button">
      <p>Mango</p>
  </div>
  <div id="3" class="flavor-button">
      <p>Peach</p>
  </div>
  <div id="4" class="flavor-button">
      <p>Passion fruit</p>
  </div>
  <div id="5" class="flavor-button">
      <p>Tangerine</p>
  </div>
  <div id="6" class="flavor-button">
      <p>Blackberry</p>
  </div>
  <div id="7" class="flavor-button">
      <p>Cherry</p>
  </div>
  <div id="8" class="flavor-button">
      <p>Coffee</p>
  </div>
  <div id="9" class="flavor-button">
      <p>Lychee</p>
  </div>
  <div id="10" class="flavor-button">
      <p>Kiwi</p>
  </div>
  <div id="11" class="flavor-button">
      <p>Caramel</p>
  </div>
  <div id="12" class="flavor-button">
      <p>Blueberry</p>
  </div>
  <div id="13" class="flavor-button">
      <p>Watermelon</p>
  </div>
  <div id="14" class="flavor-button">
      <p>Green apple</p>
  </div>
  <div id="15" class="flavor-button">
      <p>Honey</p>
  </div>
  <div id="16" class="flavor-button">
      <p>Coconut</p>
  </div>
  <div id="17" class="flavor-button">
      <p>French toast</p>
  </div>
  <div id="18" class="flavor-button">
      <p>Lemon</p>
  </div>
  <div id="19" class="flavor-button">
      <p>Macadamia nut</p>
  </div>
  <div id="20" class="flavor-button">
      <p>Guava</p>
  </div>
  <div id="21" class="flavor-button">
      <p>Banana</p>
  </div>
  <div id="22" class="flavor-button">
      <p>Butterscotch</p>
  </div>
  <div id="23" class="flavor-button">
      <p>Chocolate</p>
  </div>
  <div id="24" class="flavor-button">
      <p>Pineapple</p>
  </div>
  <div id="25" class="flavor-button">
      <p>Plum</p>
  </div>
  <div id="26" class="flavor-button">
      <p>Cinnamon</p>
  </div>
  <div id="27" class="flavor-button">
      <p>Vanilla</p>
  </div>
  <div id="28" class="flavor-button">
      <p>Salted caramel</p>
  </div>
  <div id="29" class="flavor-button">
      <p>Brown sugar</p>
  </div>
  <div id="30" class="flavor-button">
      <p>Raspberry</p>
  </div>
  <div id="31" class="flavor-button">
      <p>Marshmallow</p>
  </div>
  <div id="32" class="flavor-button">
      <p>Lavender</p>
  </div>
  <div id="33" class="flavor-button">
      <p>Almond</p>
  </div>
  <div id="34" class="flavor-button">
      <p>Hazelnut</p>
  </div>
  <div id="35" class="flavor-button">
      <p>Pomegranate</p>
  </div>
  <div id="36" class="flavor-button">
      <p>Pumpkin spice</p>
  </div>
  <div id="37" class="flavor-button">
      <p>Peppermint</p>
  </div>
  <div id="38" class="flavor-button">
      <p>Almond roca</p>
  </div>
  <div id="39" class="flavor-button">
      <p>Chocolate chip cookie dough</p>
  </div>
  <div id="40" class="flavor-button">
    <p>Taro</p>
  </div>
  <div id="41" class="flavor-button">
      <p>Honeydew</p>
  </div>
</div>