<div class="flavor-option-container">
    <h2>Flavors</h2>
    <div class="flavor-filters" id="flavor-filters">
      <div class="flavor-filter-button selectable">
        <p>All</p>
      </div> 
      <div class="flavor-filter-button selectable">
        <p>Fruity</p>
      </div>
      <div class="flavor-filter-button selectable">
        <p>Sweet</p>
      </div>
      <div class="flavor-filter-button selectable">
        <p>Sour</p>
      </div>
      <div class="flavor-filter-button selectable">
        <p>Dessert</p>
      </div>
      <div class="flavor-filter-button selectable">
        <p>Nutty</p>
      </div>
      <div class="flavor-filter-button selectable">
        <p>Spiced</p>
      </div>
      <div class="flavor-filter-button selectable">
        <p>Rich</p>
      </div>
    </div>
    <div class="flavor-options" id="flavor-options">
    
    </div>
  </div>
  