.input-box {
    text-align: center;
    border-radius: 15px;
    background-color: #EFFFFF;
    box-shadow: 0px 0px 5px 0px #5DCDCD;
    margin: 0.5rem;
    padding: 1rem;
}

@media screen and (max-width: 1025px) {
    .input-box {    
        text-align: left;
        margin: 0.1rem;
        padding: 0.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}