.navbar {
  display: flex;
  padding: 0.25rem;
  justify-content: space-between;
  align-items:center;
  justify-items: center;
}

.nav-button {
  background-color: aliceblue;
  padding: 0.75rem 2rem 0.75rem 2rem;
}

.nav-left {
  flex-grow: 1;
  margin-left: 4rem;
}
.nav-right {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 1025px) {
  .navbar {
    padding: 0.1rem;
  }
  .nav-button {
    padding: 0.25rem 0.1rem 0.25rem 0.1rem;
  }
  .nav-left {
    margin-left: 1rem;
  }
  .nav-right {
    justify-content: space-around;
  }
}