.percentage-input-box {
    border-radius: 15px;
    background-color: aliceblue;
    margin: 0.5rem;
    padding: 1rem;
}

@media screen and (max-width: 1025px) {
    .percentage-input-box {    
        margin: 0.1rem;
        padding: 0.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}